@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');

/*body {
    background-color:#3d88cf;
    margin: auto;
}*/

/*------------------------------------Text Styles*/

.esther-cole {
    font-weight: bolder;
    text-transform: uppercase;
    color: #fafafa;
}

/*------------------------------------Colours*/

.kiwe-logo {
    color: #fafafa !important;
    font-weight: bolder !important;
    font-size: 3em;
}

.black-background {
    background-color: #000000;
    border: #000000;
}

.text-dark {
    color: #000000 !important;
}
/*------------------------------------Images and Media*/

.album-cover {
    position: relative;
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.hero {
    min-width: 100%;
    overflow: hidden;
}

.img-thumbnail {
    background-color: #000000;
    border: #000000;
}

/*-------------------------------------Container Styles*/

.center {
    text-align: center;
}

.top-right {
    width: 35%;
   position:absolute;
   top:15%;
   right:0;
   margin-top: 40px;
   margin-right: 40px;
   opacity: 1;
   text-align: center;
}

.top-center {
    width: 35%;
   position:absolute;
   top:15%;
   right: 0;
   margin-top: 40px;
   margin-right: 40px;
   opacity: 1;
   text-align: center;
}

.footer-buffer {
    background-color: #000000;
    height:130px;
    width: 100%;
}

/*-------------------------------------Buttons*/
.media-button-black {
    background-color: #000000;
    border: #000000;
    text-align: center;
    margin: auto;
}

.terms {
    font-size: 0.5em !important;
    padding-left: 0px !important;
    padding-top: 10px !important;
}